.nav-background {
  background-image: url('https://i.imgur.com/AxuVj2Q.jpg')!important;
  background-size: auto 140%;
  background-position: center;
  background-attachment: fixed;
  /* position: fixed!important; */
}

.mr-auto Link {
  text-align: right!important;
  justify-content: right!important;
}

.nav-background h3 {
  font-family: 'Fredericka the Great', cursive;
}
.nav-background  {
  font-family: 'Fredericka the Great', cursive;
  font-size: 17px;
  justify-content: right;
}

.skills-comp i {
  font-size: 60px;
}

.jumbotron {
  background-color: #0a0a0a70!important;
}

.nav {
  text-align: right!important;
}

* {
  font-family: 'Fredericka the Great', cursive;
}

.fred-font {
  font-family: 'Fredericka the Great', cursive!important;
}

.landing-page {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url('https://i.imgur.com/AxuVj2Q.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: auto 140%;
  background-repeat: none;
}

@media only screen and (max-width: 415px) {
  .jumbotron h1 {
    font-size: 22px;
  }
  .jumbotron h2 {
    font-size: 17px;
    padding-bottom: 4px!important;
  }
  .skills-comp i {
    font-size: 36px;
    margin: 8px!important;
  }
  .landing-page {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .resume h2 {
    font-size: 17px;
  }
  .resume h4 {
    font-size: 10px;
  }
  .resume li {
    font-size: 8px;
  }
  .about-page-div h2 {
    font-size: 20px;

  }
  .about-page-div p {
    font-size: 8px!important;
    text-align: left;
    margin: 0!important;
    padding-bottom: 24px;
  }
  .social-links {
    width: 150px!important;
    margin-top: 130px!important;
    margin-bottom: 10px!important;
  }

  .social-links i {
    font-size: 20px!important;
    padding: 1px!important;
    margin: 1px!important;
  }
  .card {
    height: 310px!important;
  }
  .contact-list span{
    font-size: 14px!important;
    width: 300px;
    text-align: left;
  }
  .contact-list i {
    font-size: 30px!important;
    padding-right: 18px!important;
    padding-left: 4px!important;
  }
  .about-page-div {
    height: 812px;
  }
}

.projects-grid {
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 40px;
  padding-bottom: 120px;
}

.projects-grid img {
  height: 340px!important;
}

.resume-right-col {
  background: #b4b4b4;
  color: black;
  padding: 2em;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 150%;
  justify-content: center;
  padding-top: 2em;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCkGlcKCmrqop4TO95xrTKy6RVyvGUokuvcie62RrbiJs_O0PL');
  margin-bottom: 20px
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  color: black;
  margin-bottom: 60px;
}

.contact-grid h1 {
  padding: 50px;
  font-family: 'Fredericka the Great', cursive;
}

.contact-grid hr {
  border-top: 5px solid black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 3rem;
  padding-left: 3rem;
}

.profile-img {
  height: 260px;
  width: 270px;
  height: 380px;
  width: 400px;
  border-style: inset;
  border-width: 8px 20px 8px 20px;

}

.banner-text {
  width: 78%;
  margin: auto;
  background-color: rgba(7, 18, 39, 0.575);
  margin-top: 10em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.banner-text h1 {
  font-size: 66px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 3px;
}

.banner-text h2 {
  color: white;
  font-family: 'Fredericka the Great', cursive;
  letter-spacing: 3px;
  margin: 20px auto;
}

.banner-text hr {
  border-top: 5px solid white;
  width: 50%;
  margin: auto;
}

.banner-text h4 {
  color: white;
  padding-bottom: 2em;
  letter-spacing: 2px;
  font-weight: bold;
}

.banner-text i {
  font-size: 6em;
  justify-content: center;
  width: 10%;
  margin: auto;
  padding-bottom: 2%;
  padding-top: 3%;
  flex-wrap: wrap;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 3%;
  width: 40%;
}

.social-links i {
  font-size: 60px;
  width: 40%;
}

.card {
  margin: 20px;
  text-align: center;
}

.card-title {
  text-align: center;
  height: 176px;
}

.docs {
  text-align: center;

}

.docs i {
  text-decoration: none!important;
}

.docs a {
  color: rgb(122, 19, 19);
  text-decoration: none!important;
  font-size: 6em;
}

.docs p {
  color: black;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
}

.peru-pic {
  height: 550px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.project-picture {
  size: 30px;
  height: 400px;
}

.about-page-div {
  text-align: center;
  padding: 50px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCkGlcKCmrqop4TO95xrTKy6RVyvGUokuvcie62RrbiJs_O0PL');
}

.about-page-div p {
  margin: 80px;
  font-size: 20px;
  text-align: left;
}

.slide-container {
  width: 70%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.each-fade {
  display: flex;
}

.each-fade .image-container img {
  width: 70%;
}
