.header {
  font-family: monospace;
  font-size: 20px;
  background-image: url(./images/bryce2.jpg);
  background-size: cover;
  height: auto;
  /* background-repeat: no-repeat; */
  /* background-color: rgba(0,0,0,1) */
}

.landing-grid {
  text-align: center;
  top: 0;
  left: 0;
  background-image: url(./images/bryce2.jpg);
  background-size: 100%;
  max-width: 100%;
  max-height: 100%;
  height: cover;
  background-repeat: no-repeat;
}

.portfolio {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: monospace
}

.projects-grid {
  display: flex;
  text-align: center;
  min-width: 450;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Resume Page css */
.resume-right-col {
  background: #e1e1e6;
  color: black;
  padding: 2em;
  border-radius: 2%;
}
.nav {
  font-size: 4px
}
/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* contact page css */

.profile-img {
  height: 260px;
  width: 270px;
  height: 380px;
  width: 400px;
  border-style: inset;
  border-width: 8px 20px 8px 20px;

}

.banner-text {
  background-color: black;
  opacity: .65;
  width: 78%;
  margin: auto;
  border-radius: 50px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
  font-family: 'Typewriter', serif;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  padding-bottom: 20px

}

.social-links i {
  color: white;
  font-size: 5em;
}

.card {
  /* margin-top: 20px; */
  margin: 20px;
  text-align: center;
}

.card-title {
  text-align: center;
  height: 176px;
}
